{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block router %}competition{% endblock %}
{% block description %}
    <meta name="description"
          content="{{ description }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords"
          content="{{ keywords }}">
{% endblock %}
{% block meta %}
    {% if meta_tags is not empty %}
        {% for meta in meta_tags %}
            <meta name="{{ meta.name }}"
                  content="{{ meta.value }}">
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
    {% if heading_type == 1 %}
        <h1 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h1>
    {% else %}
        <h2 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h2>
    {% endif %}
    <div class="politica">
       <div class="container">
           {{ setting.get('concursRegulation') is not null ? setting.get('concursRegulation').value|raw  : '' }}
       </div>
    </div>
{% endblock %}
