{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block router %}home{% endblock %}
{% block canonical %}
    <link rel=“canonical” href=“{{ link }}/ru” />
{% endblock %}
{% block description %}
    <meta name="description"
          content="{{ description }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords"
          content="{{ keywords }}">
{% endblock %}
{% block meta %}
    {% if meta_tags is not empty %}
        {% for meta in meta_tags %}
        <meta name="{{ meta.name }}"
              content="{{ meta.value }}">
        {% endfor %}
    {% endif %}
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@graph" : [
            {% for article in news %}
                {
                    "@type": "NewsArticle",
                    "@id": "{{ link }}/ru/article/{{ article.id }}/{{ article.url }}",
                    "headline": "{{ article.title }}",
                    "datePublished": "{{ article.date }}",
                    "articleBody": "{{ article.text }}",
                    "image": {
                        "@type": "imageObject",
                        "url": "{{ link }}/images/temp/news/{{ article.logo }}",
                        "height": "400",
                        "width": "300"
                    },
                    "author": [{"@type":"Person", "name":"Champs Pro"}]
                }
            {% endfor %}
            ]
        }
    </script>
{% endblock  %}
{% block body %}
    {% if heading_type == 1 %}
        <h1 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h1>
    {% else %}
        <h2 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h2>
    {% endif %}
    <div class="home page">
        <home-page  popular-tags="{{ popularTags|json_encode }}"></home-page>
    </div>
{% endblock %}