{% extends 'base.html.twig' %}
{% block title %}Матч {{ match.team1 is not null ? match.team1.name: '' }} Против {{ match.team2 is not null ? match.team2.name: '' }} на турнире {{ matchDecorator.event.name }} по Cs:Go{% endblock %}
{% block router %}matches{% endblock %}
{% block description %}
    <meta name="description" content="Матч {{ match.team1 is not null ? match.team1.name: '' }} Против {{ match.team2 is not null ? match.team2.name: '' }} на турнире {{ matchDecorator.event.name }} по Cs:Go {{ matchDecorator.startAt|date('d-m-Y') }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords" content="Матч {{ match.team1 is not null ? match.team1.name: '' }} Против {{ match.team2 is not null ? match.team2.name: '' }} на турнире {{ matchDecorator.event.name }} по Cs:Go история встреч и подробности">
{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Матч {{ match.team1 is not null ? match.team1.name: '' }} Против {{ match.team2 is not null ? match.team2.name: '' }} на турнире {{ matchDecorator.event.name }} по Cs:Go на Champs.pro
    </h1>
    <div class="page" id="app">
        <div class="ml-8 mr-8 p-0 d-flex">
            <div class="navigation d-flex align-items-center justify-content-between">
                <a href="{{ url('main') }}">
                    Главная
                </a>
                <i class="fas fa-arrow-right ml-2 mr-2" style="font-size: .7vw"></i>
                <a href="{{ url('matches_index_page') }}">
                    Матчи
                </a>
                <i class="fas fa-arrow-right ml-2 mr-2" style="font-size: .7vw"></i>
                <span style="">
                    {{ match.team1 is not null ? match.team1.name: '' }} VS {{ match.team2 is not null ? match.team2.name: '' }}
                </span>
            </div>
        </div>
        <div class="ml-8 mr-8 p-0">
            <match-page match-id="{{ match.id }}"/>
        </div>
    </div>
{% endblock %}
