{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block router %}matches{% endblock %}
{% block description %}
    <meta name="description"
          content="{{ description }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords"
          content="{{ keywords }}">
{% endblock %}
{% block meta %}
    {% if meta_tags is not empty %}
        {% for meta in meta_tags %}
            <meta name="{{ meta.name }}"
                  content="{{ meta.value }}">
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
    {{ heading }}
    <div class="matches page">
        <div class="ml-8 mr-8 p-0 d-flex">
            <div class="navigation d-flex align-items-center justify-content-between">
                <a href="{{ url('main') }}">
                    Главная
                </a>
                <i class="fas fa-arrow-right ml-2 mr-2" style="font-size: .7vw"></i>
                <span>
                    Матчи
                </span>
            </div>
        </div>
        <div class="ml-8 mr-8 p-0">
            <matches-page type="{{ type }}"/>
        </div>
    </div>
{% endblock %}