{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block router %}rules{% endblock %}
{% block description %}
    <meta name="description"
          content="{{ description }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords"
          content="{{ keywords }}">
{% endblock %}
{% block meta %}
    {% if meta_tags is not empty %}
        {% for meta in meta_tags %}
            <meta name="{{ meta.name }}"
                  content="{{ meta.value }}">
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
    {{ heading }}
    <div class="politica">
       <div class="container">
           {{setting.get('termsOfUse') is not null ? setting.get('termsOfUse').value|raw  : ''}}
       </div>
    </div>
{% endblock %}
