{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block router %}statistics{% endblock %}
{% block description %}
    <meta name="description"
          content="{{ description }}">
{% endblock %}
{% block keywords %}
    <meta name="Keywords"
          content="{{ keywords }}">
{% endblock %}
{% block meta %}
    {% if meta_tags is not empty %}
        {% for meta in meta_tags %}
            <meta name="{{ meta.name }}"
                  content="{{ meta.value }}">
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
    {% if heading_type == 1 %}
        <h1 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h1>
    {% else %}
        <h2 style="opacity: 0; position: absolute; left: 0; top: 0">{{ heading }}</h2>
    {% endif %}
    <div class="statistics page">
        <div class="ml-8 mr-8 p-0">
            <div class="d-flex p-0 mt-4">
                <div class="w-50 mr-2">
                    <players-rating class-name="w-100"/>
                </div>
                <div class="w-50 ml-2">
                    <teams-rating/>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center p-0 mt-3">
                <div class="w-50">
                    <weapon-doughnut/>
                </div>
                <div class="w-50">
                    <player-week/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
