<div class="component maps">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" /></div>
        </div>
        <div class="title">
            Head to head
        </div>
    </div>
    <div class="component statistics">
        <div class="grid-block statistics-maps">
            <div class="grid-header">
                <div class="r w-100">
                    <span>
                        <strong>
                            Команда
                        </strong>
                    </span>
                </div>
                <div class="r w-100">
                    <span>
                        <strong>
                            Побед
                        </strong>
                    </span>
                </div>
            </div>
            <div class="grid-header">
                <div class="r w-100">
                    <span>
                       {% if match.team1 is not null and match.team1.logo is not null %}
                           <img style="height: 1.2vw;" src="/uploads/images/{{match.team1.logo}}" class="logo" alt="ua.svg" />{{ match.team1.name }}
                       {% else %}
                           <img style="height: 1.2vw;" src="/images/noLogo.png" alt="ua.svg" />{{ match.team1 ? match.team1.name: '???' }}
                       {% endif %}
                    </span>
                </div>
                <div class="r w-100">
                    <span>
                        {{ match.team1WinRate }}
                    </span>
                </div>
            </div>
            <div class="grid-header">
                <div class="r w-100">
                    {% if match.team2 is not null and match.team2.logo is not null %}
                        <img style="height: 1.2vw;" src="/uploads/images/{{match.team2.logo}}" class="logo" alt="ua.svg" />{{ match.team2.name }}
                    {% else %}
                        <img style="height: 1.2vw;" src="/images/noLogo.png" alt="ua.svg" />{{ match.team2 ? match.team2.name: '???' }}
                    {% endif %}
                </div>
                <div class="r w-100">
                    <span>
                        {{ match.team2WinRate  }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>