
<div class="component maps">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" /></div>
        </div>
        <div class="title">
            Статистика карт
        </div>
    </div>
    <div class="component statistics">
        <div class="grid-block statistics-maps">
            <div class="grid-row">
                <div class="r w-100 pl-0 text-center">
                     <strong class=" w-100">Карта</strong>
                </div>
                {% for team, data in matchStats %}
                    <div class="r w-100">
                        <img style="height: 1.2vw;" src="{{ data.logo }}">
                        <strong> {{ team }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% for map in maps %}
            <div class="grid-row">
                <div class="r w-100 map-bg pl-0 {{map.name}}" style="background-image: url('/uploads/images/{{ map.image }}')" >
                    <span class="map-title" attr-row-id="{{map.id}}" attr-row-field="name" attr-row-table="map" onclick="EditData(this)" >{{ map.name }}</span>
                    <script>
                    $( document ).ready(function() {
                    setTimeout(function(){
                         if(canEdit == true) {
                            let dataT = document.createElement('div');
                            dataT.style="margin-left: 5px; position: absolute;width: 30px; height: 30px;";
                            dataT.innerHTML = '<div attr-row-id="{{map.id}}" attr-row-field="image" attr-row-table="map" onclick="EditData(this,\'img\')" style="border-radius: 5px; width: 30px; height: 30px; background-size: cover;background-image: url(\'/uploads/images/edit_ico2.png\');"></div>';
                             document.querySelector(".r.w-100.map-bg.pl-0.{{map.name}}").append(dataT);
                        }
                        },500);
                    });
                    </script>
                </div>
                {% for team, data in matchStats %}
                {% set tmp_name = map.name %}
                    <div class="r w-100 " attr-row-id="{{data.s_id[tmp_name]}}" attr-row-field="win_rate" attr-row-table="match_map_team_statistic" onclick="EditData(this)">{{ attribute(data.maps, map.name) }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
