<div class="component_result">
  <div class="l_logo">
    {% if match.team1 is not null and match.team1.logo is not null %}
      <img src="/uploads/images/{{match.team1.logo}}" alt="ua.svg" />
    {% else %}
      <img src="/images/noLogo.png" alt="ua.svg" />
    {% endif %}
  </div>
  <div class="r_logo">
    {% if match.team2 is not null and match.team2.logo is not null %}
      <img src="/uploads/images/{{match.team2.logo}}" alt="ua.svg" />
    {% else %}
      <img src="/images/noLogo.png" alt="ua.svg" />
    {% endif %}
  </div>
  <div class="l_data">
    {% if match.team1 is not null and match.team1.logo is not null %}
      <img src="/uploads/images/{{match.team1.logo}}" class="logo" alt="ua.svg" />
    {% endif %}
    <div class="name">
        {% if match.team1.name is defined %}
            {{ match.team1.name }}
        {% else %}
            ???
        {% endif %}
    </div>
    <div class="score green">{{ match.score1 }}</div>
  </div>
  <div class="c_data">
    <div class="time">{{ match.startAt|date("H:i") }}</div>
    <div class="date">
      {% set month = ['Января','Февраля','Марта','Апреля','Мая','Июня','Июля','Августа','Сентября','Октября','Ноября','Декабря'] %}
      {% set setMonth = month[match.startAt|date('n') - 1] %}
      <div>{{match.startAt|date('d')}} {{setMonth}} {{match.startAt|date('Y')}}</div>
    </div>
    <div class="result">
      {% if match.live %}
        Матч идет
      {% elseif match.startAt.timestamp - 3600*2 > date().timestamp %}
        Матч скоро начнется
      {% else  %}
        Матч завершен
      {% endif %}
    </div>
  </div>
  <div class="r_data">
      {% if match.team2 is not null and match.team2.logo is not null %}
          <img src="/uploads/images/{{match.team2.logo}}" class="logo" alt="ua.svg" />
      {% endif %}
      <div class="name">
          {% if match.team2.name is defined %}
              {{ match.team2.name }}
          {% else %}
              ???
          {% endif %}
      </div>
    <div class="score green">{{ match.score2 }}</div>
  </div>
</div>
