<div class="component_result">
  <div class="l_logo">
    <img src="/uploads/images/{{ match.team1.logo }}" alt="ua.svg" />
  </div>
  <div class="r_logo">
    <img src="/uploads/images/{{ match.team2.logo }}" alt="ru.svg" />
  </div>
  <div class="l_data">
    <img src="/uploads/images/{{ match.team1.logo }}" class="logo" alt="Rectangle7.svg" />
    <div class="name">{{ match.team1.name }}</div>
    <div class="score green">{{ match.score1 }}</div>
  </div>
  <div class="c_data">
    <div class="time">{{ match.startAt|date("H:i") }}</div>
    <div class="date">
      {% set month = ['Января','Февраля','Марта','Апреля','Мая','Июня','Июля','Августа','Сентября','Октября','Ноября','Декабря'] %}
      {% set setMonth = month[match.startAt|date('n') - 1] %}
      <div>{{match.startAt|date('d')}} {{setMonth}} {{match.startAt|date('Y')}}</div>
    </div>
{#    <div class="title">Europe Cup Champions 2020</div>#}
    <div class="result">
      {% if match.live %}
        Матч идет
      {% elseif match.startAt.timestamp - 3600*2 > date().timestamp %}
        Матч скоро начнется
      {% else  %}
        Матч завершен
      {% endif %}
    </div>
  </div>
  <div class="r_data">
    <img src="/uploads/images/{{ match.team2.logo }}" class="logo" alt="Rectangle6.svg" />
    <div class="name">{{ match.team2.name }}</div>
    <div class="score green">{{ match.score2 }}</div>
  </div>
</div>
