<div class="component statistics" id="statistics">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" alt="lamp.svg"/></div>
        </div>
        <div class="title">
            Статистика
        </div>
    </div>
    <div class="grid-select">
        <div class="lft statistics-map-selector">
            <span
                v-for="(map,mapName) in teamLeft"
                v-html="mapName"
                @click="selectedMapName = mapName"
                :class="{active: mapName === selectedMapName}">
            </span>
        </div>
        <div class="rgt">
            <span :class="{active: selectedType === 'total'}" @click=" selectedType = 'total'">Обе стороны</span>
            <span :class="{active: selectedType === 'terrorist'}" @click=" selectedType = 'terrorist'">T</span>
            <span :class="{active: selectedType === 'counterTerrorist'}" @click=" selectedType = 'counterTerrorist'">CT</span>
        </div>
    </div>

    <div class="grid-block">
        <div class="grid-header">
            <div class="r">
                {% if match.team1 is not null and match.team1.logo is not null%}
                    <img src="/uploads/images/{{match.team1.logo}}" class="logo" alt="ua.svg" />{{ match.team1.name }}
                {% else %}
                    <img src="/images/noLogo.png" alt="ua.svg" />{{ match.team1 ? match.team1.name: '???' }}
                {% endif %}
            </div>
            <div class="r">K-D</div>
            <div class="r">+/-</div>
            <div class="r">ADR</div>
            <div class="r">KAST</div>
            <div class="r">Rating</div>
        </div>
        <div class="grid-row" v-for="player in getLeftTeamStatistic()">
            <div class="r" v-html="player.player"></div>
            <div class="r" v-html="player.kd"></div>
            <div class="r" v-html="player.plusMinus"></div>
            <div class="r" v-html="player.adr"></div>
            <div class="r" v-html="player.kast"></div>
            <div class="r" v-html="player.rating"></div>
        </div>
    </div>

    <div class="grid-block">
        <div class="grid-header">
            <div class="r">
                {% if match.team2 is not null and match.team2.logo is not null%}
                    <img src="/uploads/images/{{match.team2.logo}}" class="logo" alt="ua.svg" />{{ match.team2.name }}
                {% else %}
                    <img src="/images/noLogo.png" alt="ua.svg" />{{ match.team2 ? match.team2.name: '???' }}
                {% endif %}
            </div>
            <div class="r">K-D</div>
            <div class="r">+/-</div>
            <div class="r">ADR</div>
            <div class="r">KAST</div>
            <div class="r">Rating</div>
        </div>
        <div class="grid-row" v-for="player in getRightTeamStatistic()">
            <div class="r" v-html="player.player"></div>
            <div class="r" v-html="player.kd"></div>
            <div class="r" v-html="player.plusMinus"></div>
            <div class="r" v-html="player.adr"></div>
            <div class="r" v-html="player.kast"></div>
            <div class="r" v-html="player.rating"></div>
        </div>
    </div>
</div>
<script>
    const playerStatistics = new Vue({
        el: '#statistics',
        data: {
            teamLeft: JSON.parse('{{ playerStatisticsTeam1|json_encode|raw }}'),
            teamRight: JSON.parse('{{ playerStatisticsTeam2|json_encode|raw }}'),
            selectedMapName: 'Все карты',
            selectedType: 'total'
        },
        methods: {
            getLeftTeamStatistic() {
                return this.teamLeft[this.selectedMapName][this.selectedType];
            },
            getRightTeamStatistic() {
                return this.teamRight[this.selectedMapName][this.selectedType];
            }
        }
    })
</script>
