{% extends 'base.html.twig' %}
{% block title %}Расписание{% endblock %}
{% block router %}cabinet{% endblock %}
{% block css %}
    {% for style in styles %}
        <link type="text/css" rel="stylesheet" href="/assets/styles/{{ style }}"/>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="cabinet" id="cabinet2" style="min-height: 40vw">
        <div class="container">
            <div class="header">
                <div class="lft">
                    <a class="active">РАСПИСАНИЕ</a>
                    <a href="{{ path('timetable_index') }}">КАЛЕНДАРЬ</a>
                    <a href="{{ path('purse_index') }}">КОШЕЛЕК</a>
                    <a href="{{ path('trainer_settings_index') }}">НАСТРОЙКИ</a>
                </div>
                <div class="rgt">
                    <a href="{{ path('app_logout') }}">Выйти</a>
                </div>
            </div>
            <div class="list">
                <div class="lft">
                    <div class="list-table"  v-for="(dayLessons, date) in lessons" :key="date">
                        <div class="date" v-text="getDate(date)"></div>
                        <div class="item" v-for="(lesson, index) in dayLessons" :key="index">
                            <div class="time" v-text="`${lesson.timeFrom}:00 - ${lesson.timeTo}:00`"></div>
                            <div class="user">
                                <img :src="lesson.student.photo"/>
                                <span v-text="lesson.student.nickname ?? lesson.student.email"/>
                            </div>
                            <div class="button h" @click="setSelect(lesson)">Подробнее</div>
                            <div class="button h" @click="setStatus(lesson)" v-if="!lesson.trainerStatus">Занятие
                                окончено
                            </div>
                            <div class="button w" v-if="lesson.trainerStatus && !lesson.studentStatus">Ожидаем подтверждения учеником</div>
                            <div class="button w" v-if="lesson.studentStatus && lesson.trainerStatus">Ученик подтвердил окончание урока</div>
                        </div>
                    </div>
                </div>
                <transition name="slide-fade">
                    <div class="rgt" v-if="data !== null">
                        <div class="top">
                            <img style="background-color: white" :src="data.student.photo"/>
                            <div class="data">
                                <div class="name" v-text="data.student.nickname"></div>
                                <div class="online" v-text="data.student.online"></div>
                                <div class="date" v-text="data.student.date"></div>
                                <div class="time" v-text="data.student.time"></div>
                            </div>
                        </div>
                        <a :href="data.discord" class="button discord" v-if="data.student.discord" target="_blank">
                            <img src="/images/discord.svg" alt="discord"/>Перейти в Discord
                        </a>
                        <div class="button steam" style="display: none">
                            <img src="/images/steam.svg" alt="steam"/>Перейти в Steam
                        </div>
                        <div class="rows-info">
                            <div class="r">
                                <div class="name">ИМЯ</div>
                                <div class="text" v-text="`${data.student.name} ${data.student.family}`"></div>
                            </div>
                            <div class="r">
                                <div class="name">РАНГ ИГРОКА</div>
                                <div class="text" v-text="data.student.rank"></div>
                            </div>
                            <div class="r">
                                <div class="name">ТРЕНИРОВОК ВСЕГО</div>
                                <div class="text" v-text="data.student.trainingAll"></div>
                            </div>
                            <div class="r">
                                <div class="name">ТРЕНИРОВОК СО МНОЙ</div>
                                <div class="text" v-text="data.trainer.training"></div>
                            </div>
                        </div>
                        <div class="charaster" style="display: none">
                            <a>Смотреть характеристику <img src="/images/arrowLineRgtOrange.svg"
                                                            alt="arrowLineRgtOrange"/></a>
                        </div>
                        <div class="profile" style="display: none">Заполнена на 83%</div>
                        <div class="price">
                            <div>Стоимость занятия</div>
                            <div><span v-text="data.cost"></span>₽</div>
                        </div>
                        <div class="price">
                            <div>Стоимость часа</div>
                            <div><span v-text="data.trainer.cost"></span>₽</div>
                        </div>
                        <div class="end closed" v-if="data.status === 1">Занятие окончено</div>
                    </div>
                </transition>
            </div>
        </div>
    </div>

    <script>
        const cabinet2 = new Vue({
            el: '#cabinet2',
            methods: {
                setSelect(lesson) {
                    this.data = lesson;
                },
                setStatus(lesson) {
                    const form = new FormData();
                    form.append('user_id', {{ app.user.id }});
                    form.append('lesson_id', lesson.id);
                    axios.get(`/ru/lessons/set-status-ended/{"user_id":"{{ app.user.id }}","lesson_id":"${lesson.id}","istrainer":true}`)
                        .then((res) => {
                            if (res.data.id) {
                                this.getTeacherLessons();
                            }
                        })
                },
                getTeacherLessons() {
                    axios.get('/ru/lessons/trainer/{{ app.user.id }}')
                        .then((res) => {
                            if (res.data !== null) {
                                this.lessons = res.data
                            }
                        })
                },
                getDate(dateTime){
                    const date = new Date(dateTime);

                    console.log(date, dateTime)

                    return date.toLocaleString('ru', {weekday: 'long', day: 'numeric', month: 'long'});
                }
            },
            data: function () {
                return {
                    data: null,
                    items: [],
                    lessons: []
                }
            },
            mounted() {
                this.getTeacherLessons();
            },
        });
    </script>

{% endblock %}
