{% for name, teams in groupPlays %}
    {% if teams is not empty %}
        <div class="component col-6">
            <div class="header">
                <div class="round">
                    <div><img src="/images/lamp.svg"></div>
                </div>
                <div class="title">
                    {{ name }}
                </div>
            </div>
            <div class="component statistics">
                <div class="grid-block statistics-maps">
                    <div class="grid-header">
                        <div class="r">
                            <span>
                                <strong>
                                    Команда
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                             <span>
                                <strong>
                                    M
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                            <span>
                                <strong>
                                    W
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                            <span>
                                <strong>
                                    T
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                            <span>
                                <strong>
                                    L
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                            <span>
                                <strong>
                                    RD
                                </strong>
                            </span>
                        </div>
                        <div class="r">
                            <span>
                                <strong>
                                    P
                                </strong>
                            </span>
                        </div>
                    </div>
                    {% for key, team in teams%}
                        <div class="grid-header">
                            <div class="r">
                                <img src="/uploads/images/{{ team.team.logo }}" class="logo" alt="ua.svg">
                                {{ team.team.name }}
                            </div>
                            <div class="r">
                                <span>
                                    {{ team.m }}
                                </span>
                            </div>
                            <div class="r">
                                <span>
                                     {{ team.w }}
                                </span>
                            </div>
                            <div class="r">
                                <span>
                                     {{ team.t }}
                                </span>
                            </div>
                            <div class="r">
                                <span>
                                    {{ team.l }}
                                </span>
                            </div>
                            <div class="r">
                                <span>
                                     {{ team.rd }}
                                </span>
                            </div>
                            <div class="r">
                                <span>
                                     {{ team.p }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}