<div class="component results">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" /></div>
    </div>
    <div class="title">
      Матчи
    </div>
  </div>
  <div class="table">
    {% for item in matches %}
      {% for item2 in item.items %}
        <a class="table-row" href="/ru/matches/{{item2.match_id}}">
          <div class="title">
            {{item2.event ? item2.event.name : 'Матч вне соревнований'}}
          </div>
          <div class="teams">
            <div>
              {% if item2.teamA is not null %}
                <img src="{{item2.teamA.logo}}" />
                {{item2.teamA.title}}
              {% else %}
                <img src="/images/noLogo.png" />???
              {% endif %}
            </div>
            <div>
              {% if item2.teamB is not null %}
              <img src="{{item2.teamB.logo}}" />
              {{item2.teamB.title}}
              {% else %}
                <img src="/images/noLogo.png" />???
              {% endif %}
            </div>
            <span>{{item2.startAt|date('d/m')}} {{item2.time}}</span>
          </div>
        </a>
      {% endfor %}
    {% endfor %}
  </div>
</div>
