 {% for item in futureEvents %}
    <div class="text_month">
      <span>{{item.date}}</span>
    </div>
    <div class="grid">
      {% for item2 in item.items %}
        <a href="{{ url('event.page', {'id': item2.id}) }}" class="grid-row">
          <div class="logo">
            {% if(item2.image) %}
            <img src="{{item2.image}}" />
            {% else %}
              <img class="h-25" src="{{item2.imageHeader}}" />
            {% endif %}

          </div>
          <div class="data child_title">
            <div class="title">
              <span>{{item2.name}}</span>
            </div>
            <div class="bottom">
              <div class="date">
                <span>{{item2.startedAt|date('d F')}}</span> - <span>{{item2.endedAt|date('d F')}}</span>
              </div>
            </div>
          </div>
          <div class="data">
            <div class="title">
              <span>{{item2.prize}}</span>
            </div>
            <div class="bottom">
              <div class="date">
                <span>Призовой фонд</span>
              </div>
            </div>
          </div>
          <div class="data">
            <div class="title">
              <span>{{item2.location}}</span>
            </div>
            <div class="bottom">
              <div class="date">
                <span>Локация</span>
              </div>
            </div>
          </div>
          <div class="data">
            <div class="title">
              {% if(item2.teams) %}
                <span>{{item2.teams}}</span>
              {% else %}
                <span>?</span>
              {% endif %}
            </div>
            <div class="bottom">
              <div class="date">
                <span>Команд</span>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
