{% extends 'base.html.twig' %}
{% block title %}История{% endblock %}
{% block router %}cabinet{% endblock %}
{% block css %}
    {% for style in styles %}
        <link type="text/css" rel="stylesheet" href="/assets/styles/{{ style }}" />
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="cabinet" id="cabinet" style="min-height: 40vw">
        <div class="container">
            <div class="header">
                <div class="lft">
                    <a href="{{ path('timelist_index') }}">РАСПИСАНИЕ</a>
                    <a href="{{ path('specifications_index') }}">ХАРАКТЕРИСТИКИ</a>
                    <a href="{{ path('history_index') }}">ИСТОРИЯ</a>
                    <a href="{{ path('settings_index') }}">НАСТРОЙКИ</a>
                    <a class="active">КОМАНДЫ</a>
                </div>
                <div class="rgt">
                    <a href="{{ path('app_logout') }}">Выйти</a>
                </div>
            </div>
        </div>
    </div>

    <script>


    </script>
{% endblock %}
