<script>
  function loadImage(e) {
    let w_t = 0;
    let h_t = 0;
    let l = 0;
    let t = 0;
    let ratio = 0;
    if (e.clientWidth > e.clientHeight) {
      w_t = e.parentNode.clientWidth / e.clientWidth;
      h_t = e.parentNode.clientWidth / e.clientHeight;
      ratio = Math.min(w_t, h_t);
      w_t = Math.ceil(e.clientWidth * ratio);
      h_t = Math.ceil(e.clientHeight * ratio);
      if (e.parentNode.clientHeight > h_t) {
        h_t = e.parentNode.clientHeight / e.clientHeight;
        ratio = Math.min(w_t, h_t);
        w_t = Math.ceil(e.clientWidth * ratio);
        h_t = e.parentNode.clientHeight;
        l = '-' + (w_t - e.parentNode.clientWidth) / 2;
      }
    } else {
      w_t = e.parentNode.clientHeight / e.clientWidth;
      h_t = e.parentNode.clientHeight / e.clientHeight;
      ratio = Math.min(w_t, h_t);
      w_t = Math.ceil(e.clientWidth * ratio);
      h_t = e.parentNode.clientHeight;
      l = 0;
      if (e.parentNode.clientWidth > w_t) {
        w_t = e.parentNode.clientWidth / e.clientWidth;
        h_t = e.parentNode.clientWidth / e.clientHeight;
        ratio = Math.min(w_t, h_t);
        w_t = e.parentNode.clientWidth;
        h_t = Math.ceil(e.clientHeight * ratio);
      }
    }
    if (e.parentNode.clientWidth < w_t) {
      l = '-' + (w_t - e.parentNode.clientWidth) / 2;
    }
    if (e.parentNode.clientHeight < h_t) {
      t = '-' + (h_t - e.parentNode.clientHeight) / 2;
    }
    e.style.left = t + 'px';
    e.style.left = l + 'px';
    e.style.width = w_t + 'px';
    e.style.height = h_t + 'px';
    e.style.opacity = '1';
  }
</script>

<div class="article__content">
  {% for i in 0..counts %}
    <div class="article-row">
      {% set foo = 0 %}
      {% for item in items|slice(i * 5,(i * 5) + 5) %}
        {% if foo < 5 %}
          {% if foo == 2 %}
            <div class="article-col">
          {% endif %}
          <a href="/news/{{item.id}}-{{item.url }}" class="article">
            <img src="/images/temp/news/{{item.logo}}" alt="{{item.logo}}" class="{% if foo == 1 %}news__image_cub{% else %}news__image{% endif %}" onload="loadImage(this)" style="opacity: 0" />
            <div class="background"></div>
            <div class="title">
              <span class="text">
                {{item.title[0:70]}}
                {% if item.title|length > 70 %}...{% endif %}
              </span>
            </div>
            <div class="ticket">
              {% if item.type == 1 %}Трансфер{% endif %}
              {% if item.type == 2 %}Матч{% endif %}
              {% if item.type == 3 %}Видео{% endif %}
              {% if item.type == 4 %}Интервью{% endif %}
              {% if item.type == 5 %}Статья{% endif %}
              {% if item.type == 6 %}Обновления{% endif %}
              {% if item.type == 7 %}Текст{% endif %}
            </div>
          </a>
          {% if foo == 3 or (foo == 2 and items|slice(i * 5,(i * 5) + 5)|length < 4) %}
            </div>
          {% endif %}
          {% set foo = foo + 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
