<div class="component results">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg"/></div>
        </div>
        <div class="title">
            Сегодня
        </div>
    </div>
    <div class="table">
        {% for match in matches %}
            {% for item in match.items %}
                <a class="table-row" href="/ru/matches/{{ item.match_id }}">
                    <div class="title">
                        {{ item.event ? item.event.name : 'Матч вне соревнований' }}
                    </div>
                    <div class="teams">
                        <div>
                            {% if item.teamA is not null %}
                                <img src="{{ item.teamA.logo }}"/>
                            {{ item.teamA.title }}
                            {% else %}
                                <img src="/images/noLogo.png"/>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.teamB is not null %}
                                <img src="{{ item.teamB.logo }}"/>
                                {{ item.teamB.title }}
                            {% else %}
                                <img src="/images/noLogo.png"/>
                            {% endif %}
                        </div>
                        <span>{{ item.time }}</span>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
