<!DOCTYPE html>
<html>
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177285165-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-177285165-1');
      </script>

    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block description %}{% endblock %}
    {% block keywords %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/styles/404.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/base.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/home.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/news.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/matches.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/results.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/events.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/gallery.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/learning.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/marketplace.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/trainers.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/statistics.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/timetable.css" />
    <link  type="text/css" rel="stylesheet" href="/assets/js/jquery.bracket.min.css">

    <link type="text/css" rel="stylesheet" href="/assets/styles/politica.css?ver=1" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/contact.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/competition.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles/about.css" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/assets/js/jquery.bracket.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  {% block css %}{% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(67020610, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
      });
    </script>
    <noscript>
      <div>
        <img src="https://mc.yandex.ru/watch/67020610" style="position:absolute; left:-9999px;" alt="" />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>
{#{{ dump(app.environment) }}#}
<!--
<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 70px;"
>
    <a class="navbar-brand" href="#">Symfony</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">

    </ul>
</nav>
-->
<nav class="header_nav" id="header">
  <div class="container nav">
    <a href="/">
      <img src="/images/logo.svg" class="logo" />
    </a>
    <div class="menu-btn-cont">
      <img src="/images/menu.png" class="menu-btn" @click="menu = menu ? false : true"/>
    </div>
    <div class="menu" :class="[menu ? 'open' : '']">
      <a href="{{ path('main') }}" {% if router == 'home' %}class="active"{% endif%}>Главная</a>
      <a href="{{ path('news_index') }}" {% if router == 'news' %}class="active"{% endif%}>Новости</a>
      <a href="{{ path('matches_index_page') }}" {% if router == 'matches' %}class="active"{% endif%}>Матчи</a>
      <a href="{{ path('results_index_page') }}" {% if router == 'results' %}class="active"{% endif%}>Результаты</a>
      <a href="{{ path('events.index') }}" {% if router == 'events' %}class="active"{% endif%}>События</a>
      <a href="{{ path('statistics_index') }}" {% if router == 'statistics' %}class="active"{% endif%}>Cтатистика</a>
      <a href="{{ path('marketplace_index') }}" {% if router == 'marketplace' %}class="active"{% endif%}>Обучение</a>
    </div>

    <script>
      var search = new Vue({
        el: '#search',
        data: function () {
          return {
            show: false,
          };
        }
      });
    </script>
    {% include 'social.html.twig' %}
    <div class="live" v-if="false">
      <div class="round"></div>
      <div class="text">Live</div>
    </div>
    <div class="games">
      <div class="select-block" :class="[show ? 'shadow' : '']">
        <div class="select" @click="show=show?false:true">
          <img :src="`/images/${icon}`" class="logo" />
          <div class="text" v-text="game"></div>
          <img src="/images/arrowBtn.svg" class="arrow" />
        </div>
        <div class="select" @click="game='DOTA',icon='dota.png',show=false" v-if="(game === 'CS:GO' || game === 'LOL') && show" title="Dota">
          <img src="/images/dota.png" class="logo" />
          <div class="text">DOTA</div>
        </div>
        <div class="select" @click="game='CS:GO',icon='cs.png',show=false" v-if="(game === 'DOTA' || game === 'LOL') && show" title="Counter Strike">
          <img src="/images/cs.png" class="logo" />
          <div class="text">CS:GO</div>
        </div>
        <div class="select" @click="game='LOL',icon='lol.jpg',show=false" v-if="(game === 'DOTA' || game === 'CS:GO') && show" title="Lol">
          <img src="/images/lol.jpg" class="logo" />
          <div class="text">LOL</div>
        </div>
      </div>
    </div>
    <div class="login" {% if is_granted('IS_AUTHENTICATED_FULLY') == false %} @click="view = 1"{% endif %}>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.istrainer %}
          <a href="/ru/trainer/timelist" class="ln">кабинет</a>
        {% else %}
          <a href="/ru/user/specifications" class="ln">кабинет</a>
        {% endif %}
      {% else %}
        <span>Войти</span>
      {% endif %}
      <div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {% if app.user.istrainer %}
            <a href="/ru/trainer/timelist" class="icon"><img src="/images/arrowLogin.svg" /></a>
          {% else %}
          <a href="/ru/user/specifications" class="icon"><img src="/images/arrowLogin.svg" /></a>
          {% endif %}
        {% else %}
          <img src="/images/arrowLogin.svg" />
        {% endif %}
      </div>
    </div>
  </div>
  <transition name="slide-fades">
    <div class="login_form" v-if="view === 1" v-show="view === 1" style="display: none">
      <div class="login_block">
        <div class="logotype">
          <img src="/images/Champs_logotype.svg" class="logotype" />
        </div>
        <div class="login_title">
          Вход в личный кабинет
        </div>
        <div class="login_input">
          <input type="text" name="email" required v-model="email" />
          <span>Адрес электронной почты</span>
        </div>
        <div class="login_input">
          <input type="password" required name="password" v-model="password" />
          <span>Пароль</span>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" v-model="csrf_token" />
        <div class="send" @click="authLogin" :style="{opacity: blockAuth ? '0.5' : '1'}">
          Войти
        </div>
        <div class="error" v-if="error">
          Неправильный логин или пароль
        </div>
        <div class="subtext">Или войдите с помощью</div>
        <div class="alternate">
          <a href="https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=checkid_setup&openid.return_to=https%3A%2F%2Fchamps.pro%2Fru%2Foauth%2Fsteam%3Fstate=steam&openid.realm=https%3A%2F%2Fchamps.pro%2Fru%2Foauth%2Fsteam&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select"><img src="/images/login_steam.svg" /></a>
          <a><img src="/images/login_discord.svg"  style="display: none;"/></a>
          <a><img src="/images/login_epic.svg"  style="display: none;"/></a>
        </div>
        <div class="links">
          <div><span @click="view = 3" style="display: none;">Восстановление пароля</span></div>
          <div><span @click="view = 2">Регистрация</span></div>
        </div>
        <div class="closed" @click="view = null">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M8.88392 8.00004L15.8169 1.06698C16.061 0.822882 16.061 0.427133 15.8169 0.18307C15.5728 -0.0609922 15.1771 -0.0610234 14.933 0.18307L7.99998 7.11613L1.06697 0.18307C0.82288 -0.0610234 0.427132 -0.0610234 0.18307 0.18307C-0.060992 0.427164 -0.0610233 0.822914 0.18307 1.06698L7.11608 8L0.18307 14.9331C-0.0610233 15.1772 -0.0610233 15.5729 0.18307 15.817C0.305101 15.939 0.465069 16 0.625037 16C0.785005 16 0.944943 15.939 1.067 15.817L7.99998 8.88394L14.933 15.817C15.055 15.939 15.215 16 15.375 16C15.5349 16 15.6949 15.939 15.8169 15.817C16.061 15.5729 16.061 15.1771 15.8169 14.9331L8.88392 8.00004Z" fill="#86888A"/>
          </svg>
        </div>
      </div>
    </div>
  </transition>
  <transition name="slide-fades">
    <div class="login_form" v-if="view === 2" v-show="view === 2" style="display: none">
      <div class="login_req">
        <div class="login_block">
          <div class="logotype">
            <img src="/images/Champs_logotype.svg" class="logotype" />
          </div>
          <div class="login_title">
            Регистрация
          </div>
          <div class="login_input">
            <input type="text" required value="" v-model="email" />
            <span>Адрес электронной почты</span>
          </div>
          <div class="login_input">
            <input type="password" required value="" v-model="password" />
            <span>Пароль</span>
          </div>
          <div class="login_check">
            <label><input type="checkbox" required v-model="check" /></label>
            <span><a href="/terms-of-use" target="_blank">Ознакомлен с правилами использования сервиса «Champs»</a></span>
          </div>
          <div class="send" @click="authRegistration" :style="{opacity: block ? '0.5' : '1'}">
            Зарегистрироваться
          </div>
          <div class="error" v-if="error">
            Произошла ошибка
          </div>
          <div class="subtext">Или войдите с помощью</div>
          <div class="alternate">
            <a href="https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=checkid_setup&openid.return_to=https%3A%2F%2Fchamps.pro%2Fru%2Foauth%2Fsteam%3Fstate=steam&openid.realm=https%3A%2F%2Fchamps.pro%2Fru%2Foauth%2Fsteam&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select"><img src="/images/login_steam.svg" /></a>
            <a><img src="/images/login_discord.svg"  style="display: none;"/></a>
            <a><img src="/images/login_epic.svg"  style="display: none;"/></a>
          </div>
          <div class="links">
            <div><span @click="view = 3" style="display: none;">Восстановление пароля</span></div>
            <div><span @click="view = 1">Вход в личный кабинет</span></div>
          </div>
          <div class="closed" @click="view = null">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M8.88392 8.00004L15.8169 1.06698C16.061 0.822882 16.061 0.427133 15.8169 0.18307C15.5728 -0.0609922 15.1771 -0.0610234 14.933 0.18307L7.99998 7.11613L1.06697 0.18307C0.82288 -0.0610234 0.427132 -0.0610234 0.18307 0.18307C-0.060992 0.427164 -0.0610233 0.822914 0.18307 1.06698L7.11608 8L0.18307 14.9331C-0.0610233 15.1772 -0.0610233 15.5729 0.18307 15.817C0.305101 15.939 0.465069 16 0.625037 16C0.785005 16 0.944943 15.939 1.067 15.817L7.99998 8.88394L14.933 15.817C15.055 15.939 15.215 16 15.375 16C15.5349 16 15.6949 15.939 15.8169 15.817C16.061 15.5729 16.061 15.1771 15.8169 14.9331L8.88392 8.00004Z" fill="#86888A"/>
            </svg>
          </div>
        </div>
        <div class="login_req_block">
          <div class="item">
            <div></div>
            <div>Тренеруйтесь вместе с лучшими игроками в ваших любимых играх</div>
          </div>
          <div class="item">
            <div></div>
            <div>Последние новости и события</div>
          </div>
          <div class="item">
            <div></div>
            <div>Великолепное сообщество</div>
          </div>
          <div class="item">
            <div></div>
            <div>Трансляции и результаты матчей</div>
          </div>
          <div class="item">
            <div></div>
            <div>Аналитика от профессионалов</div>
          </div>
        </div>
      </div>
    </div>
  <transition name="slide-fades">
    <div class="login_form" v-if="view === 3" v-show="view === 3" style="display: none">
      <div class="login_block">
        <div class="logotype">
          <img src="/images/Champs_logotype.svg" class="logotype" />
        </div>
        <div class="login_title">
          Восстановление пароля
        </div>
        <div class="login_input">
          <input type="text" required value="" />
          <span>Адрес электронной почты</span>
        </div>
        <div class="send">
          Отправить письмо на почту
        </div>
        <div class="links">
          <div><span @click="view = 1">Авторизация</span></div>
          <div><span @click="view = 2">Регистрация</span></div>
        </div>
        <div class="closed" @click="view = null">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M8.88392 8.00004L15.8169 1.06698C16.061 0.822882 16.061 0.427133 15.8169 0.18307C15.5728 -0.0609922 15.1771 -0.0610234 14.933 0.18307L7.99998 7.11613L1.06697 0.18307C0.82288 -0.0610234 0.427132 -0.0610234 0.18307 0.18307C-0.060992 0.427164 -0.0610233 0.822914 0.18307 1.06698L7.11608 8L0.18307 14.9331C-0.0610233 15.1772 -0.0610233 15.5729 0.18307 15.817C0.305101 15.939 0.465069 16 0.625037 16C0.785005 16 0.944943 15.939 1.067 15.817L7.99998 8.88394L14.933 15.817C15.055 15.939 15.215 16 15.375 16C15.5349 16 15.6949 15.939 15.8169 15.817C16.061 15.5729 16.061 15.1771 15.8169 14.9331L8.88392 8.00004Z" fill="#86888A"/>
          </svg>
        </div>
      </div>
    </div>
  </transition>
</nav>

<script>
  var header = new Vue({
    el: '#header',
    data: function () {
      return {
        icon: 'cs.png',
        game: 'CS:GO',
        show: false,
        menu: false,
        view: null,
        start: false,
        block: true,
        check: false,
        blockAuth: true,
        csrf_token: '{{ csrf_token('authenticate') }}',
        email: '',
        password: '',
        password_confirm: '',
        error: false,
      };
    },
    watch: {
      email() {
        this.valid()
      },
      password() {
        this.valid()
      },
      check() {
        this.valid()
      }
    },
    methods: {
      authLogin() {
        const th = this;
        let formData = new FormData();
        formData.append('email', this.email);
        formData.append('password', this.password);
        formData.append('_csrf_token', this.csrf_token);
        if (!this.blockAuth) {
          th.blockAuth = true;
          axios.post('/ru/login', formData)
          .then((res) => {
            th.blockAuth = false;
            if (res.data.error) {
              th.error = true;
            } else {
              th.view = null;
              window.location.assign('/ru/user/specifications');
            }
          })
        }
      },
      authRegistration() {
        const th = this;
        let formData = new FormData();
        formData.append('user[email]', this.email);
        formData.append('user[password][first]', this.password);
        formData.append('user[password][second]', this.password);
        if (!this.block) {
          th.block = true;
          axios.post('/ru/registration', formData)
          .then((res) => {
            th.block = false;
            if (res.data.error) {
              th.error = true;
            } else {
              th.authLogin();
            }
          })
          .catch(() => {
            th.error = true;
          })
        }
      },
      valid() {
        const re = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
        if (re.test(this.email) && this.password.length > 5) {
          this.blockAuth = false;
          if (this.check) {
            this.block = false;
          } else {
            this.block = true;
          }
        } else {
          this.blockAuth = true;
          this.block = true;
        }
      }
    },
    created(){
      window.addEventListener('click', (e) => {
        if (e.target.classList.contains('menu-btn') || e.target.classList.contains('search-input')
        || e.target.classList.contains('icon') || e.target.classList.contains('icon-svg'))  return false;
        this.menu = false;
      });
      window.addEventListener('load', () => {
        this.start = true;
      });
    }
  });
</script>

{% block body %}{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

<div class="cookie" id="cookie">
  <div class="footer">
    <div class="container">
      <div class="rows">
        <img src="/images/logo.svg" class="logo" />
        <div class="main__menu">
          <a href="{{ path('about_index') }}">О нас</a>
          <a href="{{ path('competition_index') }}">Положение о конкурсе</a>
          <a href="{{ path('contact_index') }}">Контакты</a>
        </div>
        <div class="blocks">
          <div class="twoblock">
            <div>Сотрудничество</div>
            <div><a href='mailto:partners@champs.pro'>partners@champs.pro</a></div>
          </div>
          <div class="twoblock">
            <div>Поддержка</div>
            <div><a href='mailto:support@champs.pro'>support@champs.pro</a></div>
          </div>
        </div>
        {% include 'social.bottom.html.twig' %}
      </div>
      <div class="rows">
        <div class="menu">
          <span @click="modal = true">Политика cookie</span>
          <a href="{{ path('politica_index') }}">Политика конфиденциальности</a>
          <a href="{{ path('terms_of_use_index') }}">Правила использования</a>
          <a href="{{ path('terms_index') }}">Условия оформления заказа тренировок</a>
          <a href="{{ path('offer_index') }}">Оферта на оказание услуг</a>
          <a href="{{ path('service_agreement_index') }}">Оферта на оказание услуг тренеру</a>
          <a href="{{ path('map_index') }}">Карта сайта</a>
        </div>
        <div class="copy">© {{"now"|date("Y")}}, «Champs»</div>
      </div>
    </div>
  </div>
  <transition name="slide-fades">
    <div class="cookie__modal" v-if="modal" v-show="modal" style="display: none">
      <div class="component">
        <div class="header">
          <div class="round">
            <div><img src="/images/lamp.svg" /></div>
          </div>
          <div class="title">
            ПОЛИТИКА COOKIE
          </div>
          <div class="closed" @click="modal = false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M8.88392 8.00004L15.8169 1.06698C16.061 0.822882 16.061 0.427133 15.8169 0.18307C15.5728 -0.0609922 15.1771 -0.0610234 14.933 0.18307L7.99998 7.11613L1.06697 0.18307C0.82288 -0.0610234 0.427132 -0.0610234 0.18307 0.18307C-0.060992 0.427164 -0.0610233 0.822914 0.18307 1.06698L7.11608 8L0.18307 14.9331C-0.0610233 15.1772 -0.0610233 15.5729 0.18307 15.817C0.305101 15.939 0.465069 16 0.625037 16C0.785005 16 0.944943 15.939 1.067 15.817L7.99998 8.88394L14.933 15.817C15.055 15.939 15.215 16 15.375 16C15.5349 16 15.6949 15.939 15.8169 15.817C16.061 15.5729 16.061 15.1771 15.8169 14.9331L8.88392 8.00004Z" fill="#86888A"/>
            </svg>
          </div>
        </div>
        <div class="table">
          С целью улучшения работы сайта, повышения удобства и эффективности работы посетителей с сайтом, предоставления решений и услуг, наиболее отвечающих потребностям посетителей сайта, определения предпочтений посетителей, отображения рекламных объявлений (поведенческой рекламы), а также для обеспечения технической возможности функционирования сайта (champs.pro) использует файлы «cookies» (файлы с данными о прошлых посещениях сайта).
          <br/><br/>Продолжая использовать данный сайт и нажимая на кнопку «Принять», я подтверждаю, что я ознакомлен(а) с Политикой использования файлов «cookies» и согласен(на) на обработку моих персональных данных на изложенных в Согласии на обработку персональных данных условиях. Третьи стороны, в том числе Facebook, Instagram, ВКонтакте, могут использовать файлы cookie, веб-маяки и другие технологии хранения данных для сбора или получения информации с данного сайта и любых других ресурсов сети Интернет и использовать эту информацию для предоставления сервисов измерения и таргетинга рекламы.
          <br/><br/>Вы можете запретить сбор и использование информации для таргетинга рекламы путем запрета сохранения файлов
          «cookies» в настройках своего браузера. <!--Вы также можете получить доступ к механизму осуществления такого выбора на сайтах (название сайта) и
          (название сайта). Более подробную информацию о cookie-файлах и принципах их работы можно найти на ресурсе (название сайта).--></div>
      </div>
    </div>
  </transition>
  {% if app.request.cookies.has('cookie_agree') == false %}
    <div class="cookie__start" v-if="start">
      <label>Мы используем cookie на нашем ресурсе. Вы можете <span @click="modal = true">ознакомиться</span> с политикой.</label><div @click="setCookie">Прекрасно</div>
    </div>
  {% endif %}
</div>
<script>
var cookie = new Vue({
  el: '#cookie',
  data: function () {
    return {
      start: true,
      modal: false,
    };
  },
  methods: {
    setCookie() {
      this.start = false;
      axios.get('/ru/setcookies').then();
    }
  },
});
</script>
<script>
function addLink() {
  const body_element = document.getElementsByTagName('body')[0];
  const selection = window.getSelection();
  const pagelink = "<br /><br /> Источник: <a href='"+document.location.href+"'>Champs.pro</a><br />";
  const copytext = selection + pagelink;
  const newdiv = document.createElement('div');
  newdiv.style.position='absolute';
  newdiv.style.left='-99999px';
  body_element.appendChild(newdiv);
  newdiv.innerHTML = copytext;
  selection.selectAllChildren(newdiv);
  window.setTimeout(function() {
    body_element.removeChild(newdiv);
  },0);
}
document.oncopy = addLink;
</script>

{% if router == 'home' %}
<div class="stream" id="stream" style="display: none">
  <div class="title">
    LIVE
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" id="closeFrame">
      <path d="M8.88392 8.00004L15.8169 1.06698C16.061 0.822882 16.061 0.427133 15.8169 0.18307C15.5728 -0.0609922 15.1771 -0.0610234 14.933 0.18307L7.99998 7.11613L1.06697 0.18307C0.82288 -0.0610234 0.427132 -0.0610234 0.18307 0.18307C-0.060992 0.427164 -0.0610233 0.822914 0.18307 1.06698L7.11608 8L0.18307 14.9331C-0.0610233 15.1772 -0.0610233 15.5729 0.18307 15.817C0.305101 15.939 0.465069 16 0.625037 16C0.785005 16 0.944943 15.939 1.067 15.817L7.99998 8.88394L14.933 15.817C15.055 15.939 15.215 16 15.375 16C15.5349 16 15.6949 15.939 15.8169 15.817C16.061 15.5729 16.061 15.1771 15.8169 14.9331L8.88392 8.00004Z" fill="#86888A"/>
    </svg>
  </div>
  <div class="player">
    <div id="playerYT" class="playerWin" style="display: none"></div>
    <div id="playerTW" class="playerWin" style="display: none"></div>
    <div class="buttons">
      <div class="button" id="streamPopupSound">
        <span></span>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 448.075 448.075" style="enable-background:new 0 0 448.075 448.075;" xml:space="preserve">
            <path d="M352.021,16.075c0-6.08-3.52-11.84-8.96-14.4c-5.76-2.88-12.16-1.92-16.96,1.92l-141.76,112.96l167.68,167.68V16.075z"/>
            <path d="M443.349,420.747l-416-416c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624l100.672,100.704h-9.376  c-9.92,0-18.56,4.48-24.32,11.52c-4.8,5.44-7.68,12.8-7.68,20.48v128c0,17.6,14.4,32,32,32h74.24l155.84,124.48  c2.88,2.24,6.4,3.52,9.92,3.52c2.24,0,4.8-0.64,7.04-1.6c5.44-2.56,8.96-8.32,8.96-14.4v-57.376l68.672,68.672  c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672C449.589,437.131,449.589,427.019,443.349,420.747z"/>
          </svg>
        </div>
      </div>
      <div class="button" id="streamPopupStart">
        <span></span>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
            <path d="M278.944,17.577c-5.568-2.656-12.128-1.952-16.928,1.92L106.368,144.009H32c-17.632,0-32,14.368-32,32v128  c0,17.664,14.368,32,32,32h74.368l155.616,124.512c2.912,2.304,6.464,3.488,10.016,3.488c2.368,0,4.736-0.544,6.944-1.6  c5.536-2.656,9.056-8.256,9.056-14.4v-416C288,25.865,284.48,20.265,278.944,17.577z"/>
            <path d="M368.992,126.857c-6.304-6.208-16.416-6.112-22.624,0.128c-6.208,6.304-6.144,16.416,0.128,22.656  C370.688,173.513,384,205.609,384,240.009s-13.312,66.496-37.504,90.368c-6.272,6.176-6.336,16.32-0.128,22.624  c3.136,3.168,7.264,4.736,11.36,4.736c4.064,0,8.128-1.536,11.264-4.64C399.328,323.241,416,283.049,416,240.009  S399.328,156.777,368.992,126.857z"/>
            <path d="M414.144,81.769c-6.304-6.24-16.416-6.176-22.656,0.096c-6.208,6.272-6.144,16.416,0.096,22.624  C427.968,140.553,448,188.681,448,240.009s-20.032,99.424-56.416,135.488c-6.24,6.24-6.304,16.384-0.096,22.656  c3.168,3.136,7.264,4.704,11.36,4.704c4.064,0,8.16-1.536,11.296-4.64C456.64,356.137,480,299.945,480,240.009  S456.64,123.881,414.144,81.769z"/>
          </svg>
        </div>
      </div>
      <div class="button" id="streamPopupLink">
        <span></span>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
            <path d="M0,176h48V48h128V0H0V176z M16,16h144v16H32v128H16V16z"/>
            <path d="M304,0v48h128v128h48V0H304z M464,160h-16V32H320V16h144V160z"/>
            <path d="M48,304H0v176h176v-48H48V304z M160,448v16H16V320h16v128H160z"/>
            <path d="M432,432H304v48h176V304h-48V432z M448,320h16v144H320v-16h128V320z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<script src= "https://www.youtube.com/iframe_api"></script>
<script>
  let mute = false;
  let play = false;
  let playerYT = null;
  let links = 'V83uqqNxwN8';
  let typeYT = '0';
  let full = false;

//temporary fix, rewrite this part for add videos
//const playerTW = new Object();
//playerTW.pause= function (){}

  playerTW = new Twitch.Player('playerTW', {
    channel: "esbcsgo",
    parent: ["champs.pro"]
  });

  function onYouTubeIframeAPIReady() {
    playerYT = new YT.Player('playerYT', {
      videoId: links,
      playerVars: {
        'controls': 0,
        'disablekb': 1,
        'showinfo': 0,
        'rel': 0,
        'autoplay': 0,
        'enablejsapi':1,
        'origin': 'http://champs.pro',
      },
      events: {
        'onReady': (event) => {
          document.getElementById('stream').style.display = 'flex';
          document.getElementById('playerYT').style.display = 'block';
          if (links === null) {
            play = false;
            document.getElementById('streamPopupStart').querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.001 320.001" style="enable-background:new 0 0 320.001 320.001;" xml:space="preserve">' +
            '<path d="M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288 c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144 c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z"/>' +
            '</svg>';

            /*
            document.getElementById('streamPopupStart').querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.001 320.001" style="enable-background:new 0 0 320.001 320.001;" xml:space="preserve">' +
            '<path d="M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288 c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144 c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z"/>' +
            '</svg>';
            
            */
          } else {
            play = false;
            /* document.getElementById('streamPopupStart').querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">' +
            '<path d="M187.733,0H51.2c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C204.8,7.641,197.159,0,187.733,0z"/>' +
            '<path d="M426.667,0H290.133c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C443.733,7.641,436.092,0,426.667,0z"/>' +
            '</svg>';
*/

document.getElementById('streamPopupStart').querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.001 320.001" style="enable-background:new 0 0 320.001 320.001;" xml:space="preserve">' +
            '<path d="M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288 c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144 c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z"/>' +
            '</svg>';

          }
          event.target.setVolume(50);
        },
      }
    });
    
  }

  document.querySelectorAll('.setStreamButton').forEach((item) => {
    item.addEventListener('click', (e) => {
      document.getElementById('stream').style.display = 'flex';
      links = e.target.getAttribute('data-id');
      typeYT = e.target.getAttribute('data-type');
      if (typeYT !== '1') {
        playerTW.pause();
        document.getElementById('playerYT').style.display = 'block';
        document.getElementById('playerTW').style.display = 'none';
        playerYT.loadVideoById({playerVars: {
        'controls': 0,
        'disablekb': 1,
        'showinfo': 0,
        'rel': 0,
        'autoplay': 0,
        'origin': 'http://champs.pro',
        'enablejsapi':1,
      }, videoId: `${e.target.getAttribute('data-id')}`});
      } else {
        playerYT.stopVideo();
        document.getElementById('playerYT').style.display = 'none';
        document.getElementById('playerTW').style.display = 'block';
        playerTW.setChannel( { videoId: `${e.target.getAttribute('data-id')}`});
      }
      play = true;
      document.getElementById('streamPopupStart').querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">' +
      '<path d="M187.733,0H51.2c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C204.8,7.641,197.159,0,187.733,0z"/>' +
      '<path d="M426.667,0H290.133c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C443.733,7.641,436.092,0,426.667,0z"/>' +
      '</svg>';
    });
  })
  document.getElementById('closeFrame').addEventListener('click', (e) => {
    playerYT.stopVideo();
    playerTW.pause();
    document.getElementById('stream').style.display = 'none';
    document.getElementById('playerYT').style.display = 'none';
    document.getElementById('playerTW').style.display = 'none';
  })
  document.getElementById('streamPopupSound').querySelector('span').addEventListener('click', (e) => {
    if (mute) {
      mute = false;
      if (typeYT !== '1') {
        playerYT.unMute();
      } else {
        playerTW.setMuted(false);
      }
      e.target.parentNode.querySelector('div').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 448.075 448.075" style="enable-background:new 0 0 448.075 448.075;" xml:space="preserve">' +
      '<path d="M352.021,16.075c0-6.08-3.52-11.84-8.96-14.4c-5.76-2.88-12.16-1.92-16.96,1.92l-141.76,112.96l167.68,167.68V16.075z"/>' +
      '<path d="M443.349,420.747l-416-416c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624l100.672,100.704h-9.376  c-9.92,0-18.56,4.48-24.32,11.52c-4.8,5.44-7.68,12.8-7.68,20.48v128c0,17.6,14.4,32,32,32h74.24l155.84,124.48  c2.88,2.24,6.4,3.52,9.92,3.52c2.24,0,4.8-0.64,7.04-1.6c5.44-2.56,8.96-8.32,8.96-14.4v-57.376l68.672,68.672  c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672C449.589,437.131,449.589,427.019,443.349,420.747z"/>' +
      '</svg>';
    } else {
      if (typeYT !== '1') {
        playerYT.mute();
      } else {
        playerTW.setMuted(true);
      }
      mute = true;
      e.target.parentNode.querySelector('div').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">' +
      '<path d="M278.944,17.577c-5.568-2.656-12.128-1.952-16.928,1.92L106.368,144.009H32c-17.632,0-32,14.368-32,32v128  c0,17.664,14.368,32,32,32h74.368l155.616,124.512c2.912,2.304,6.464,3.488,10.016,3.488c2.368,0,4.736-0.544,6.944-1.6  c5.536-2.656,9.056-8.256,9.056-14.4v-416C288,25.865,284.48,20.265,278.944,17.577z"/>' +
      '<path d="M368.992,126.857c-6.304-6.208-16.416-6.112-22.624,0.128c-6.208,6.304-6.144,16.416,0.128,22.656  C370.688,173.513,384,205.609,384,240.009s-13.312,66.496-37.504,90.368c-6.272,6.176-6.336,16.32-0.128,22.624  c3.136,3.168,7.264,4.736,11.36,4.736c4.064,0,8.128-1.536,11.264-4.64C399.328,323.241,416,283.049,416,240.009  S399.328,156.777,368.992,126.857z"/>' +
      '<path d="M414.144,81.769c-6.304-6.24-16.416-6.176-22.656,0.096c-6.208,6.272-6.144,16.416,0.096,22.624  C427.968,140.553,448,188.681,448,240.009s-20.032,99.424-56.416,135.488c-6.24,6.24-6.304,16.384-0.096,22.656  c3.168,3.136,7.264,4.704,11.36,4.704c4.064,0,8.16-1.536,11.296-4.64C456.64,356.137,480,299.945,480,240.009  S456.64,123.881,414.144,81.769z"/>' +
      '</svg>';
    }
    if (window.innerWidth <= 600 && full && play) {
      setTimeout(() => {
        document.getElementById('streamPopupSound').style.display = 'none';
        document.getElementById('streamPopupStart').style.display = 'none';
        document.getElementById('streamPopupLink').style.display = 'none';
      }, 1000)
    }
  })
  document.getElementById('streamPopupStart').querySelector('span').addEventListener('click', (e) => {
    if (play) {
      if (typeYT !== '1') {
        playerYT.pauseVideo();
      } else {
        playerTW.pause();
      }
      play = false;
      e.target.parentNode.querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.001 320.001" style="enable-background:new 0 0 320.001 320.001;" xml:space="preserve">' +
      '<path d="M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288 c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144 c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z"/>' +
      '</svg>';
    } else {
      if (typeYT !== '1') {
        playerYT.playVideo();
      } else {
        playerTW.play();
      }
      play = true;
      e.target.parentNode.querySelector('div').innerHTML = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">' +
      '<path d="M187.733,0H51.2c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C204.8,7.641,197.159,0,187.733,0z"/>' +
      '<path d="M426.667,0H290.133c-9.426,0-17.067,7.641-17.067,17.067V460.8c0,9.426,7.641,17.067,17.067,17.067h136.533 c9.426,0,17.067-7.641,17.067-17.067V17.067C443.733,7.641,436.092,0,426.667,0z"/>' +
      '</svg>';
    }
    if (window.innerWidth <= 600 && full && play) {
      setTimeout(() => {
        document.getElementById('streamPopupSound').style.display = 'none';
        document.getElementById('streamPopupStart').style.display = 'none';
        document.getElementById('streamPopupLink').style.display = 'none';
      }, 1000)
    }
  })
  document.getElementById('streamPopupLink').querySelector('span').addEventListener('click', (e) => {
    if (window.innerWidth > 600) {
      if (links !== null) {
        window.open('https://www.youtube.com/watch?v=' + links + '&has_verified=1', "_blank");
      }
    } else {
      if (!full) {
        full = true;
        document.getElementById('stream').classList.add('full');
      } else {
        full = false;
        document.getElementById('stream').classList.remove('full');
      }
    }
    if (window.innerWidth <= 600 && full && play) {
      setTimeout(() => {
        document.getElementById('streamPopupSound').style.display = 'none';
        document.getElementById('streamPopupStart').style.display = 'none';
        document.getElementById('streamPopupLink').style.display = 'none';
      }, 1000)
    }
  });
  document.getElementById('stream').addEventListener('click', (e) => {
    if (window.innerWidth <= 600 && full) {
      document.getElementById('streamPopupSound').style.display = 'block';
      document.getElementById('streamPopupStart').style.display = 'block';
      document.getElementById('streamPopupLink').style.display = 'block';
    }
  });
</script>
  <script>
    (function(w,d,u){
      var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
      var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn.bitrix24.ua/b15413561/crm/site_button/loader_2_stikh3.js');
  </script>
{% endif %}
</body>
</html>
