<div class="component player-week">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      Игрок недели
    </div>
  </div>
  {% if playerWeek is not null %}
  <div class="content">
    <img src="{{ playerWeek.image }}" class="photo" alt="Avatar" />
    <div class="nik">
      {% if playerWeek.flagIcon.name is defined %}
        <img src="/uploads/images/{{ playerWeek.flagIcon.name }}"/>
      {% else %}
        <img src="/images/blankplayer.svg"/>
      {% endif %}
      {{ playerWeek.nickname }}
    </div>
    <div class="name">
      {{ playerWeek.fullname }}
    </div>
    <div class="score">
      {{ playerWeek.rate }}
    </div>
  </div>
  {% else %}
    <div class="content">
      <img src="/images/temp/Player1Big.png" class="photo" alt="Avatar" />
      <div class="nik">
        <img src="/images/temp/flag-russia.png" alt="Flag Russian" />
        s1mple
      </div>
      <div class="name">
        Александр Костылев
      </div>
      <div class="score">
        0.59/раунд
      </div>
    </div>
  {% endif %}
</div>
