<div class="component player-week">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      Игрок недели
    </div>
  </div>
  {% if playerWeek is not null %}
  <div class="content">
    <img src="/uploads/images/{{ playerWeek.photo }}" class="photo" alt="Avatar" attr-row-id="{{playerWeek.id}}" attr-row-field="photo" attr-row-table="person" onclick="EditData(this,'img')" />
    <div class="nik">
      {% if playerWeek.flagIcon.name is defined %}
        <img src="/uploads/images/{{ playerWeek.flagIcon.name }}"  attr-value="{{playerWeek.flagIcon.id}}" attr-row-id="{{playerWeek.id}}" attr-row-field="flag_icon_id" attr-row-table="person" onclick="EditData(this, 'flag')" />
      {% else %}
        <img src="/images/noLogo.png"/>
      {% endif %}
      <div>
         <div  attr-row-id="{{playerWeek.id}}" attr-row-field="nick" attr-row-table="person" onclick="EditData(this)">
            {{ playerWeek.nick }}
        </div>
      </div>
    </div>
    <div>
        <div class="name"  attr-row-id="{{playerWeek.id}}" attr-row-field="name" attr-row-table="person" onclick="EditData(this)">
            {{ playerWeek.name }}
        </div>
    </div>
    <div>
        <div class="score" attr-row-id="{{playerWeek.id}}" attr-row-field="rating" attr-row-table="person" onclick="EditData(this)">
            {{ playerWeek.rating }}
        </div>
     </div>
  </div>
  {% else %}
    <div class="content">
      <img src="/images/temp/Player1Big.png" class="photo" alt="Avatar" />
      <div class="nik">
        <img src="/images/temp/flag-russia.png" alt="Flag Russian" />
        s1mple
      </div>
      <div class="name">
        Александр Костылев
      </div>
      <div class="score">
        0.59/раунд
      </div>
    </div>

  {% endif %}
</div>