<div class="component ratings">
  <div class="header">
    <div class="round">
      <div>
        <img src="/images/lamp.svg" alt="lamp" />
      </div>
    </div>

    <div class="title">
      Рейтинг игроков
    </div>
  </div>

  <div class="table">
    {% set i = 1 %}

    {% for item in ratingPlayers %}
      <div class="table-row">
        <div>
          <span class="num">{{i}}.</span>
          <img src="{{item.image}}" alt="Avatar">
          <label>
            <span>
              <img src="{{item.flag}}">
              {{item.nickname}}
            </span>
            <span class="name">
              {{item.fullname}}
            </span>
          </label>
        </div>

        {% if  item.team.image is defined%}
          <div>
            <img src="{{item.team.image}}" alt="Rectangle5" /> {{item.team.title}}
          </div>
        {% else %}
          <div>
          </div>
        {% endif %}

        <div class="text-center">
          {{item.rating}}
        </div>
      </div>
      {% set i = i + 1 %}
    {% endfor %}
  </div>
</div>
